<launch>

  <node pkg="rosserial_python" type="serial_node.py" name="arduno_comm" args="/dev/ttyUSB0"/>

  <node respawn="true" pkg="joy" type="joy_node" name="joystick_drive">
    <param name="dev" type="string" value="/dev/input/js0" />
  </node>

  <node pkg="couch_teleop" type="couch_teleop" name="couch_teleop"/>

</launch>
